figure#3d_figure {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 10vh;
    overflow: hidden;
}

#geometry-container, #text-container {
    position: absolute;
}

#geometry-container {
    z-index: 1; 
    background-color: transparent;
    border-radius: 100px;
    overflow: hidden;
    height: 100%;
}

#text-container {
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: #d6a3fb;  
}

@media only screen and (max-width: 768px) {

    #geometry-container, #text-container {
        width: 100%; 
        height: auto; 
    }

    div#text-container {
        font-size: 90px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    div#text-container {
        font-size: 70px;
    }
}