/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family:'Space Mono';
    src: url('../../fonts/SpaceMono-Regular.woff2') format("woff2"),
         url('../../fonts/SpaceMono-Regular.woff') format("woff"),
         url('../../fonts/SpaceMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'Space Mono';
    src: url('../../fonts/SpaceMono-Bold.woff2') format("woff2"),
         url('../../fonts/SpaceMono-Bold.woff') format("woff"),
         url('../../fonts/SpaceMono-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #1c47ff;
    --pink: #d6a3fb;
    --green: #d0ff94;
    --grey: #e5e5e5;
    --color-txt: #f0f0f0;
    --color-bg: #0f0f0f;  
    --color-secondary-gray: #333030;

    --font-base: 'Space Mono';
    --font-txt: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    
    --border-radius: 100px;
    --size-h1: clamp(3rem, 6vw, 6rem);
    --size-h2: clamp(2rem, 4vw, 4rem);
    --size-txt: clamp(1rem, 1.4vw, 1.4rem);
    --size-other-txt: clamp(1.4rem, 1.8vw, 1.8rem);
    --gutter: 3.125vw 6.25vw;
    --nav-height: 100px;
    --z-base: 1;
    --z-section: 2;
    --z-nav: 10;
    --z-overlay: 100;
}

html {
    font-size: 16px;
}

body {
    background: var(--color-bg);
    color: var(--color-txt);
    font-family: var(--font-base);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--font-txt);
    font-size: var(--size-txt);
}

h1, h2 {
    line-height: 1.1em;
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

a {
    color: var(--color-txt);
    text-decoration: none;
    font-family: var(--font-base);
}