@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

#btn_menu {
    pointer-events: none;
    opacity: 0;
}

/*section*/
section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100dvh;
    z-index: var(--z-section);
}

section.sticky {
    position: sticky;
    top: var(--nav-height);
}

section.full-screen {
    min-height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: var(--z-overlay);
}

/* nav */

nav {
    position: sticky;
    width: 100%;
    height: var(--nav-height);
    font-size: var(--size-txt);
    z-index: var(--z-nav);
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 45px;
}

nav ul li a:hover {
    text-decoration:underline;
}

/* about section */

section.about {
    z-index: var(--z-overlay);
}

section.about .empty {
    flex-basis: 62.5vw;
    background: var(--grey);
    border-radius: var(--border-radius);
    overflow: hidden;
}

section.about .empty img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);  
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    flex: 1;
    display: flex;
    align-items: flex-end;
    background: var(--blue);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 0.5s cubic-bezier(0,.9,.4,.99);
}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--pink);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: var(--color-secondary-gray);
    min-height: 20dvh;
    overflow: hidden;
}

/* service section */

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 45%;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 55%;
    background: var(--color-secondary-gray);
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

section.service-animation .text a  {
    transition: text-shadow 0.1s ease-in-out;
}

section.service-animation .text a:hover {
    text-shadow: 1px 8px 12px var(--pink);
}

section.service-3d .text a:hover {
    text-shadow:1px 8px 12px var(--green);
}

section.service-p5 .text a:hover {
    text-shadow:1px 8px 12px var(--blue);
}

#svg_container{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-path{
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: animationLine 4s forwards;
    transition: ease-in-out;
    
}

@keyframes animationLine {
    to{
        stroke-dashoffset: 0;
    }
}

.scene_3d {
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 100px auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

@keyframes spin {
    from{
        transform: rotateX(0deg) rotateY(0deg)
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }  
}

.cube {
  animation: spin 5s infinite linear; 
}

.face {
  position: absolute;
  width: 196px;
  height: 196px;
  border: 2px solid var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--pink);
  background-color: var(--green); 
  opacity: 0.8;
}

.front {
    transform: translateZ(100px);
}

.back {
    transform:  rotateY(180deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
     transform: rotateX(-90deg) translateZ(100px);
}

section.service article figure video.video_p5js {
  width: 75%;
  height: auto;
}

/* service section overrides */

section.service.service-animation figure {
    background: var(--green);
}

section.service.service-animation .text h2,
section.service.service-animation .text a {
    color: var(--pink);
}

section.service.service-3d figure {
    background: var(--blue);
}

section.service.service-3d .text h2,
section.service.service-3d .text a {
    color: var(--green);
}

section.service.service-p5 figure {
    background: var(--pink);
}

section.service.service-p5 .text h2,
section.service.service-p5 .text a {
    color: var(--blue);
}

/* contact section */

section.contact {
    height:fit-content;
    min-height: 100vh;
    top: 0;
    margin-top: 100px;
    display: grid;
    gap: 0px;
    width: 100%;
    background: linear-gradient(var(--blue), var(--green) 60%, var(--pink) 70%, var(--grey));
    border-radius: var(--border-radius);
}

/*artist section*/
.show {
	list-style: none;
	padding:0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 16px;
    margin: 20px; 
}

.artworks {
	width: 260px;
	height: 400px;
	margin: 20px;
	perspective: 1000px;
}

.art {
	width: 260px;
	height: 400px;
	transform-style: preserve-3d;
	transform: translateZ(-130px);
	transition: transform 350ms ease-in;
}

.art:hover {
	transform: rotateY(-78deg) translateZ(20px);
}

.art .front, .art .back {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color:gray;
  backface-visibility: hidden;
}

.art .front {
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .art .back {
    transform: rotateY(90deg) translateZ(130px);
    border: 1px solid #B8B5B5;
    font-size: var(--size-txt);
  }

  .art::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0,0,0,0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg) translateY(130px);
    transition: box-shadow 350ms ease-in-out;
  }
  
  .art:hover::after {
    box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
  }

  .back header {
    color: #FFF;
    padding: 30px 10px 30px 10px;
    font-weight: bold;
    height: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
  }
  
  .back header h3 {
    margin: 0 0 10px;
    font-size: var(--size-other-txt);
  }
  
  .back header .name {
    padding: 0px 3px;
  }
  
  .back p.bio  {
    padding: 1.2rem 1.4rem;
    margin: 2px 0 0;
    font-weight: 700;
    color: white;
    line-height: 1.4rem;
  }

.art .front,
.art .back,
.art .back header {
  transition: box-shadow 150ms;
}

.art .front {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.art:hover .front {
  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.art:hover .back header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.5);
}

 .artworks:nth-child(1) .art .front {
    background-image: url(/img/Petra_C_opt.jpg);
  }
  
  .artworks:nth-child(2) .art .front {
    background-image: url(/img/Memo-Akten.webp);
  }
  
  .artworks:nth-child(3) .art .front {
    background-image: url(/img/Paul_Ferragut.webp);
  }
  
  .artworks:nth-child(4) .art .front {
    background-image: url(/img/refik_anadol.webp);
  }
  
/*footer*/
footer{
    width: 100%;
    height: 33dvh;
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 0;
    z-index: var(--z-overlay);
    border-radius: var(--border-radius);
    position: sticky;
    overflow: hidden;  
}

#canvasContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-bg);
}

footer section.last .redes-sociales a, div.back_top a{ 
    display: flex;
    justify-content: center
}

footer section.last .redes-sociales a:hover, div.back_top a:hover{ 
    text-decoration:underline;
}

section.last {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    position: sticky;
    margin-top: 20px;
  }
  
  .redes-sociales {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .redes-sociales li:last-child {
    margin-right: 0;
  }
  
  .redes-sociales a {
    text-decoration: none;
    font-size: var(--size-other-txt);
  }

  div.back_top a{
    margin-top: 40px;
  }

  @media only screen and (max-width: 768px) {

    :root {
        --border-radius: 1.5em;
        --gutter: 6.25vw;
    }

    #about {
        z-index: var(--z-section);
    }

    #btn_menu {
        pointer-events: fill;
        opacity: 1;
        position:fixed;
        top: 20px;
        left: 30px;
        z-index: var(--z-overlay);
        background-color: var(--color-secondary-gray);
        border-color: var(--color-txt);
        color: var(--color-txt);
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        font-family: var(--font-base);
    }

    nav {
        background-color: var(--color-txt);
        top: 0;
        height: 80dvh;
        position: fixed;
        left: 0;
        transform: translateY(-30px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease; 
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
    }

    nav ul li {
        margin-left: 0;
    }

    nav ul li a {
        color: var(--color-secondary-gray)
    }

    nav.is-open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

     #navbar.is-open {
        z-index: 200;
    }

    #btn_menu.is-open {
        z-index: 300;
    }

    section {
        height: 100dvh;
    }

    section.service article{
        display: flex;
        flex-direction: column;
    }

    section.sticky{
        min-width: 100dvw;  
        top: 70px; 
    }

    section.service figure {
        display: flex;
        flex: 0 0 40%;
    }


    section.service article figure video.video_p5js{
        max-height: 80%;
        max-width: 60%;
    }

     section.service article figure svg {
        max-width: 100%;
        max-height: 100%;
     }

    section.service .text {
        flex: 0 0 60%;
        justify-content: flex-start;
    }

    section.service .text h2{
        margin: 0;
    }
    
    .artworks {
        margin: 50px;
    }

    footer{   
        min-height:fit-content;   
    }

    section#footer {
        justify-content: center;
    }

    ul.redes-sociales {
        flex-direction: column;
        gap: 2em;  
    }

    div.back_top {
        margin-top: 40px;
    }
    
    #canvasContainer{
        height: 100%;
    }

   section#footer {
        min-height: fit-content;
        padding: 10px 0;
        margin: 10px 0;
    }
}





