@media only screen and (max-width: 768px) {
    html, body {
        --border-radius: 25px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

   nav {
    height: 60px;
   }

   nav ul {
    justify-content: space-evenly;
   }

    nav ul li {
        margin-left: 20px;
    }

    nav {
        font-size: 18px;
    }

    nav ul li a:hover {
        font-size: 28px;
    }

    section {
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - 60px);
        top: 60px;
       
    }
    

    section.about{
        display: flex;
        flex-direction: column;
    }

    section.about article .title {
       flex: 1;
       height: 50px;
       align-items:center;
    }

    section.about article .description {
        flex: 4;
        height:auto;
    }
  
    section.service article {
        flex-direction: column;
    }

    section.service figure {
        max-width: 100%;
        margin: 0px 0px;
    }

    section.service figure img {
        width: 40%;
    }

    video.video_psjs{
        width: 200px;
    }


    @keyframes animation {
        0% {
            transform: rotate(0deg) translateY(-5%);
            filter: hue-rotate(0deg);  
        }
        100% {
            transform: rotate(180deg) translateY(5%);
            filter: hue-rotate(360deg);  
        }
    }

    section.contact {
        margin-top: 100px;
        height:fit-content;
    }

    .artworks {
    margin: 50px;
    }

    section.contact .artworks .art .front .back  {
        height: 200px; 
        margin: 10px 25px;
        width: 80vw; 
    }

    section.contact .artworks .art .back p {
        font-size: 14; 
    } 

    footer{
        width: 100%;
        height: 30vh;
        border-radius: var(--border-radius);
        min-height:fit-content;
    }

    ul.redes-sociales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        font-size: 20px;    
    }

    div.back_top a{
        margin-top: 40px;
    }
    
    #canvasContainer{
        height: 100%;
    }

   section#footer {
        min-height: fit-content;
        padding: 10px 0;
        margin: 10px 0;
    }
}